
body {
    background-color: pink;
}

.form {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 45%;
    margin-right: 45%;
    align-items: center ;
    justify-content: center;
    justify-content: space-between;
}

.footer {
    display: flex; 
    flex-direction: row; 
    width:100% ; 
    justify-content: flex-end;
}

.footer-text {
    margin-right: 10px; 
    font-style: italic; 
    font-family: monospace;
}